# APPLICATION CONFIGURATION
spring.application.name=FlightApp

# POSTGRESQL DATABASE CONFIGURATION
spring.datasource.url=jdbc:postgresql://localhost:5432/flightapp
spring.datasource.username=flightuser
spring.datasource.password=flightpassword
spring.datasource.driverClassName=org.postgresql.Driver
spring.jpa.hibernate.ddl-auto=update

# AMADEUS API CONFIGURATION
amadeus.api.url=https://test.api.amadeus.com/v2/shopping/flight-offers
amadeus.api.authUrl=https://test.api.amadeus.com/v1/security/oauth2/token
amadeus.api.clientId=ENTER_YOUR_CLIENT_ID
amadeus.api.clientSecret=ENTER_YOUR_CLIENT_SECRET

# APPLICATION SECURITY CONFIGURATION
api.security.key=ENTER_YOUR_SECRET_API_KEY_HERE

# CACHE AND OTHER CONFIGURATION
spring.cache.type=caffeine
spring.cache.caffeine.spec=expireAfterWrite=10m
spring.jpa.open-in-view=false
spring.jackson.deserialization.fail-on-unknown-properties=false

# ADMIN CREDENTIALS
admin.username=${ADMIN_USERNAME}
admin.password=${ADMIN_PASSWORD}