spring.application.name=FlightApp

# === KONFIGURACJA API AMADEUS ===
amadeus.api.url=https://test.api.amadeus.com/v2/shopping/flight-offers
amadeus.api.authUrl=https://test.api.amadeus.com/v1/security/oauth2/token
amadeus.api.clientId=WPISZ_SWOJ_CLIENT_ID
amadeus.api.clientSecret=WPISZ_SWOJ_CLIENT_SECRET

# === KONFIGURACJA BAZY DANYCH H2 ===
spring.h2.console.enabled=true
spring.datasource.url=jdbc:h2:mem:flightdb
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=su
spring.datasource.password=

# ... (reszta konfiguracji pozostaje bez zmian)
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.jpa.hibernate.ddl-auto=update

spring.cache.type=caffeine
spring.cache.caffeine.spec=expireAfterWrite=10m